html
{
    background-color: #0d0d0d;
    font-size: 100%;
    -webkit-text-size-adjust: 100%;
    height: 100%;
}
body
{
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden;
    font-feature-settings: "ss01", "ss04";
    -webkit-font-feature-settings: "ss01", "ss04";
    -moz-font-feature-settings: "ss01", "ss04";
    -ms-font-feature-settings: "ss01", "ss04";
    font-feature-settings: "ss01", "ss04";
}
}